@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
#container {
  background-color: white;
  height: 85%;
  width: 22%;
  border: none;
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
}
#location-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#location-name {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

#location-name-country {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-left: 2px;
  font-weight: 500;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem 0.5rem;
}

/* #get-btn {
  font-size: 1.7rem;
  border-radius: 10px;
  border: none;
  background-color: white;
  border-radius: 0.3rem;
  color: #111;
  cursor: pointer;
  margin-left: 0.3rem;
  padding-top: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */

/* #location-input:focus {
  outline: none !important;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  background-color: transparent;
} */

/* #location-input {
  text-align: center;
  font-size: 1rem;
  border: 0.1px solid grey;
  border-radius: 10px;
  padding: 0.6rem;
  font-family: "Roboto", sans-serif;
} */

/* #input-location {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.first-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-logo .location-svg {
  height: 300px;
  width: 300px;
}

#first-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10rem;
}

#first-input-location {
  margin-bottom: 2rem;
}

#first-location-input {
  font-size: 1.2rem;
  text-align: center;
  border: 0.1px solid grey;
  border-radius: 5px;
  padding: 0.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

#first-location-input:focus {
  outline: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
  background-color: transparent;
}

#first-get-btn {
  font-size: 2rem;
  border-radius: 10px;
  border: none;
  background-color: rgb(108, 99, 255);
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  margin-left: 0.3rem;
  padding-top: 5px;
  box-shadow: rgba(63, 61, 86, 0.5) 0px 2px 8px 0px;
  width: 40%;
  margin: 1rem 0rem;
  transition: all 0.5s ease 0s;
}

#first-get-btn:hover {
  color: rgb(108, 99, 255);
  background-color: white;
}

.searcher {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 500px) {
  #container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  #content {
    border-radius: 0rem;
  }
}

#error-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

#error-page .error-svg {
  height: 300px;
  width: 300px;
}

.error-btn {
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #6c63ff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  transition: all 0.5s ease 0s;
}

.error-btn:hover {
  color: #6c63ff;
  background-color: white;
}

.error-mssg {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  text-align: center;
}

#forecast {
  width: 85%;
  margin: 1rem 0rem;
  font-size: 1.5rem;
  padding: 0.7rem 0rem;
  border-radius: 2rem;
  border: none;
  color: white;
  background-color: #111;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#forecast:hover {
  background: white;
  color: #111;
}
